# Copy this file to .env and fill in your values
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/expense-tracker?retryWrites=true&w=majority
JWT_SECRET=abhay@mern#jwt$secret!8291
NODE_ENV=production
CLIENT_URL=https://expense-track-4t6f.vercel.app/
